* {box-sizing: border-box;
}

header, nav, main, footer {
						   display: block;
}

body {
      background-color: #FFF8DC;
	  font-family: Verdana, Arial, sans-serif;
	  grid-row: 1/3;
	  grid-column: 1/3;
}

header {
	    background-color: #F5F5F5;
		padding-top: 50px;
	    height: auto;
		border-bottom: 2px solid #221811;
		overflow: hidden;
		text-align: center;
		grid-row: 1 / 1;
        grid-column: 1 / 4;
		color: #CBBC30;
}

h2, h3, h4, h5	{
	text-align: center;
	display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

nav {
	 text-align: center;
	 font-weight: bold;
	 font-size: 1.3em;
	 float: none;
	 grid-row: 2 / 4;
	 grid-column: 1 / 2;
	 background-color: #F5F5F5;
	 
}

nav a {
	   text-decoration: underline black;
	   color: #0F0D0C;
}
nav a:link	{ 
			 color: #CBBC30;;
}

nav a:visited { 
			   color: #EC2525;
}

nav a:hover	{ 
			 color: #8DF6F2;
}

nav ul { 
		list-style-type: none;
		padding-left: 0;
		text-align: left;
}



#wrapper { 
		   width: 80%;
		   min-width: 850px;
		   max-width: 1260px;
           margin-right: auto;
		   margin-left: auto;
		   box-shadow: 5px 5px 5px #828282;
		   background-image: url(images/background.jpg);
		   display: grid;
           grid-template-columns: 160px 1fr 160px;
           grid-template-rows: 200px auto 200px;
}

table	{
		 margin: auto;
		 width: 100%;
		 border-spacing: 0;
		 background-color:#F9F4FA;
		 border: 5px solid #E8FBFC;
		 border-style: inset;
}

td, th {
	    border: 5px solid #E8FBFC;
		border-style: inset;	
}

footer {
	    
		font-size:.60em;
		text-align: center;
		
		border-top: 2px solid #221811;
		grid-row: 4 / 4;
        grid-column: 1 / 4;
}



